{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H20</title>

    <link rel="stylesheet" href="{% static 'general_page_static/css/search.css' %}">
</head>
<body>
<header>
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="index.html">Recipt</a></div>

            <div class="header-user">
                <a href="#">User</a>
            </div>
        </nav>
    </div>
</header>

<main class="home-page">
    <div class="wrapper">
        <section class="search-section">
            <form action="#" method="POST">
                <label class="serach-box">
                    <input type="search" name="" class="search-input" placeholder="Search Recipes">

                    <svg class="search-ico" fill="#12947C" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <path d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"/>
                    </svg>
                </label>
            </form>

            <div class="filter-container">
                <p class="filter-btn">
                    <img src="{% static 'general_page_static/img/filter.png' %}" alt="filter icon">
                </p>

                <div class="filter">
                    <div class="filter-nav">
                        <p class="filter-title">Filtre</p>
                        <p class="filter-btn">close</p>
                    </div>
                    <form action=".." method="GET">
                        <label><input type="checkbox" name=""> filter</label>
                    </form>
                </div>
            </div>
        </section>

        <section class="meals-section">
            <h3 class="meals-title">All meals</h3>
            <div class="meals">
                <figure class="meal">
                    <a href="{% url 'view_page' %}"></a>
                    <img src="{% static 'general_page_static/img/pasta.jpg' %}" alt="meal">
                    <figcaption>
                        <p class="meal-title">Spaggeti whith sause</p>
                    </figcaption>
                </figure>
                <figure class="meal">
                    <a href="{% url 'view_page' %}"></a>
                    <img src="{% static 'general_page_static/img/pasta.jpg' %}" alt="meal">
                    <figcaption>
                        <p class="meal-title">Spaggeti whith sause</p>
                    </figcaption>
                </figure>
                <figure class="meal">
                    <a href="{% url 'view_page' %}"></a>
                    <img src="{% static 'general_page_static/img/pasta.jpg' %}" alt="meal">
                    <figcaption>
                        <p class="meal-title">Spaggeti whith sause</p>
                    </figcaption>
                </figure>
                <figure class="meal">
                    <a href="{% url 'view_page' %}"></a>
                    <img src="{% static 'general_page_static/img/pasta.jpg' %}" alt="meal">
                    <figcaption>
                        <p class="meal-title">Spaggeti whith sause</p>
                    </figcaption>
                </figure>
            </div>
        </section>
    </div>
</main>

<script src="js/filter.js"></script>
</body>
</html>