{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H20</title>

    <link rel="stylesheet" href="{% static 'general_page_static/css/view.css' %}">
</head>
<body>
<main>
    <section class="meal">
        <div class="meal-nav">
            <a href="#" class="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 32.5 50">
                    <line x1="24" y1="10" x2="5" y2="25" stroke-width="7" stroke-linecap="round"/>
                    <line x1="24" y1="40" x2="5" y2="25" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </a>
            <!-- <a href="#" class="save">
                <img style="width: 35px;" src="{% static 'general_page_static/img/bookmark.png' %}" alt="">
            </a> -->
        </div>

        <div class="test">
            <img class="meal-photo" src="{% static 'general_page_static/img/pasta.jpg' %}" alt="meal photo">
        </div>

        <div class="wrapper">
            <div class="meal-text">
                <div class="meal-main-info">
                    <h2 class="meal-title">Spaggeti whith sause</h2>
                    <p class="cooking-time">time: 30 min | 1 Serving</p>
                </div>
                <p class="meal-difficult">Difficult: 5/10</p>
            </div>
            <div class="meal-description">
                <p class="meal-description-title">Descripton</p>
                <p class="meal-description-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores in fuga debitis perspiciatis ipsum earum fugit porro dolorem hic officiis quos ad, illo, eaque corporis consequatur eius, error enim? Eos.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus officiis in accusantium iure deleniti voluptatum illum sequi aliquam tempore dicta fugit, repellat maiores vero quod, impedit mollitia sapiente, quis maxime!
                </p>
            </div>
            <div class="meal-ingredients">
                <div class="meal-ingredients-head">
                    <p class="ingredients-box-title">Ingredients</p>
                    <p class="ingredients-count">7 item</p>
                </div>
                <ul class="meal-ingredients-list">
                    <li>
                        <div class="meal-ingredients-title">
                            <img src="https://www.themealdb.com/images/ingredients/Lime-Small.png" alt="meal ingredient photo">
                            <p>chees</p>
                        </div>
                        <p>300 g</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</main>
</body>
</html>