{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H20</title>

    <link rel="stylesheet" href="{% static 'css/view.css' %}">
</head>
<body>
<main>
    <section class="meal">
        <div class="meal-nav">
            <a href="serch.html" class="back-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 32.5 50">
                    <line x1="24" y1="10" x2="5" y2="25" stroke-width="7" stroke-linecap="round"/>
                    <line x1="24" y1="40" x2="5" y2="25" stroke-width="7" stroke-linecap="round"/>
                </svg>
            </a>
            <a href="#" class="save">
                <img style="width: 35px;" src="{% static 'img/bookmark.png' %}" alt="">
            </a>
        </div>

        <div class="test">

            <img class="meal-photo" src="{% static 'img/pasta.jpg' %}" alt="meal photo">
        </div>

        <div class="wrapper">
            <div class="meal-text">
                <h2 class="meal-title">Spaggeti whith sause</h2>
                <div class="meal-additional-info">
                    <p class="cooking-time">time: 30 min | 1 Serving</p>
                    <p class="meal-difficult">Easy</p>
                </div>
            </div>
            <div class="meal-ingredients">
                <div class="meal-ingredients-head">
                    <p class="ingredients-title">Ingredients</p>
                    <p class="ingredients-count">7 item</p>
                </div>
                <ul class="meal-ingredients-list">
                    <li><p>chees</p>
                        <p>300 g</p></li>
                    <li><p>eggs</p>
                        <p>300 g</p></li>
                    <li><p>fresh shrimp</p>
                        <p>300 g</p></li>
                    <li><p>Potato</p>
                        <p>300 g</p></li>
                    <li><p>chill</p>
                        <p>300 g</p></li>
                    <li><p>tomato</p>
                        <p>300 g</p></li>
                    <li><p>Onion</p>
                        <p>300 g</p></li>
                </ul>
            </div>
        </div>
    </section>
</main>
</body>
</html>