@import url(basis.css);

.meal {
    position: relative;
}

.meal-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 15rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--wraper-width) + 10%);
    z-index: 10;
}

.back-btn {
    padding: 10rem;
    width: 35rem;
    height: 35rem;
    background: #fff;
    border: var(--border-width) solid var(--main-color);
    border-radius: 50%;
    transition: .5s;
}

.back-btn svg {
    width: 35rem;
    height: 35rem;
}

.back-btn line {
    stroke: var(--main-color);
    transition: .5s;
}

.back-btn:hover {
    border-color: var(--main-color);
    background: var(--main-color);
}

.back-btn:hover line {
    stroke: white;
}

.meal-photo {
    width: 100%;
    height: 600rem;
    position: relative;
    clip-path: inset(0);
}

.meal-photo img {
    position: fixed;
    height: 600rem;
    object-fit: cover;
    width: 100%;
}

.meal-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50rem;
    padding-top: 50rem;
}

.meal-title {
    margin-bottom: 20rem;
    font-size: 50rem;
}

.cooking-time {
    color: var(--secondary-font-color);
}

.meal-difficult {
    font-size: 45rem;
}

.cooking-time {
    font-size: 30rem;
}

.meal-description-title {
    margin-bottom: 10rem;
    font-weight: bold;
    font-size: 30rem;
}

.meal-description {
    font-size: 25rem;
}

.meal-ingredients-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50rem;
    margin-bottom: 20rem;
}

.ingredients-box-title {
    font-size: 40rem;
}

.ingredients-count {
    color: var(--secondary-font-color);
    font-size: 30rem;
}

.meal-ingredients-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.meal-ingredients-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20rem;
    padding: 20px;
    font-size: 25rem;
    background: rgba(18, 148, 124, .5);
    border-radius: 5px;
}

.meal-ingredients-img {
    width: 75px;
    margin-bottom: 10px;
}

.meal-ingredients-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meal-ingredients-title p:first-child{
    margin-bottom: 15px;
}

@media screen and ( max-width: 1024px) {
    html {
        font-size: .8px;
    }

    .meal-photo,
    .meal-photo img {
        height: 450rem;
    }
}

@media screen and ( max-width: 800px) {
    .meal-text {
        flex-direction: column;
        align-items: flex-start;
    }

    .meal-main-info {
        margin-bottom: 20rem;
    }
}

@media screen and ( max-width: 800px) {
    html {
        font-size: .7px;
    }
}