{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooks Companion</title>
    <link rel="stylesheet" href="{% static 'general_page_static/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'client_profile_static/css/client_page.css' %}">
</head>
<body>
<header>
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="{% url 'index_page' %}">Cooks Companion</a></div>
            <div class="header-user">
                {% if user.is_authenticated %}
                    <a href="{% url 'user_profile' %}">{{ user.username }}</a>
                {% else %}
                    <a href="{% url 'login_page' %}">Login</a>
                    <a href="{% url 'register_page' %}">Register</a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>

<main class="home-page">
    <div class="wrapper">
        <section class="wellcome-section">
            <div class="wellcome-text">
                <h1>Hello {{ user.username }},</h1>
                <p>Lets look to your frig, click to open it</p>
            </div>
        </section>

        <section class="user-frig">
            <div class="frig" id="container"></div>
            <div class="frig-meal-list">
                <p class="frig-meal-list-title">Your meal</p>
                <ul>
                    <li>
                        <p>Cheel</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</main>

<script src="https://cdn.rawgit.com/mrdoob/three.js/r89/build/three.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/r89/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.rawgit.com/mrdoob/three.js/r89/examples/js/loaders/FBXLoader.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tween.js/17.1.1/Tween.min.js"></script>
<script src="{% static 'client_profile_static/js/frig.js' %}"></script>
</body>
</html>