
.login-section form{
    padding: 40rem;
    width: 50%;
    margin: 0 auto;
    border: var(--border-width) solid var(--main-color);
    border-radius: 5px;
    font-size: 18rem;
}

.header-user-auth{
    display: flex;
    align-items: center;
}

.header-user-auth p{
    margin: 0 10px;
}

.auth-header{
    margin-bottom: 100rem;
}

.auth-title{
    text-align: center;
    font-size: 30rem;
    margin-bottom: 40px;
}

.login-section label{
    display: block;
    margin-bottom: 20px;
}

.login-section label:last-child{
    margin-bottom: 0;
}

.login-section input{
    margin-bottom: 10px;
    padding: 15rem 20rem;
    width: calc(100% - var(--border-width) - 40rem);
    font-size: 20px;
    color: var(--main-font-color);
    background: var(--search-input-bg);
    border: var(--border-width) solid var(--main-font-color);
    border-radius: 5px;
}

.login-section .submit-btn{
    width: 100%;
    margin-bottom: 0;
}

.error-box{
    width: 40%;
    color: brown;
}
.error{
    font-size: 20em;

}

@media screen and ( max-width: 600px) {
    .login-section form {
        width: 70%;
    }
    .header-user-auth{
        flex-direction: column;
    }
}