{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooks Companion</title>
    <link rel="stylesheet" href="{% static 'general_page_static/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'auth_static/css/login.css' %}">
</head>
<body>
<header class="auth-header">
    <div class="wrapper">
        <nav>
            <div class="logo"><a href="{% url 'index_page' %}">Cooks Companion</a></div>
            <div class="header-user header-user-auth">
                <a href="{% url 'login_page' %}">Login</a>
                <p>or</p>
                <a href="{% url 'register_page' %}">Register</a>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="wrapper">
        <section class="login-section">
            <form method="POST">
                {% csrf_token %}
                <p class="auth-title">Register</p>
                <label>
                    {{ form.username }}
                </label>
                <label>
                    {{ form.password1 }}
                </label>
                <label>
                    {{ form.password2 }}
                    {{ form.non_field_errors }}
                    <div class="error-box">
                        <p class="error">{{ form.errors }}</p>
                    </div>
                </label>
                <label><input type="submit" value="Register" class="submit-btn"></label>
            </form>
        </section>
    </div>
</main>
</body>
</html>